In [27]:
import pandas as pd
from IPython.display import display

In [28]:
pv_df = pd.read_csv("../data-sources/pv-data-jan2015.csv")

In [29]:
pv_df.head()

          date   kwh
0  1/1/14 0:00   0.0
1  1/1/14 0:05   0.0
2  1/1/14 0:10   0.0
3  1/1/14 0:15   0.0
4  1/1/14 0:20   0.0

In [35]:
pv_df['month'] = pv_df['date'].apply(lambda x: '{:02d}'.format(int(x.split(" ")[0].split("/")[0])))# + x.split(" ")[1].split(":"))
pv_df['day'] = pv_df['date'].apply(lambda x: '{:02d}'.format(int(x.split(" ")[0].split("/")[1])))
pv_df['year'] = pv_df['date'].apply(lambda x: '{:02d}'.format(int(x.split(" ")[0].split("/")[2])))
pv_df['hour'] = pv_df['date'].apply(lambda x: '{:02d}'.format(int(x.split(" ")[1].split(":")[0])))
pv_df['minutes'] = pv_df['date'].apply(lambda x: '{:02d}'.format(int(x.split(" ")[1].split(":")[1])))

In [36]:
pv_df.head()

          date   kwh month day year hour minutes
0  1/1/14 0:00   0.0    01  01   14   00      00
1  1/1/14 0:05   0.0    01  01   14   00      05
2  1/1/14 0:10   0.0    01  01   14   00      10
3  1/1/14 0:15   0.0    01  01   14   00      15
4  1/1/14 0:20   0.0    01  01   14   00      20

In [39]:
pv_df2 = pd.read_csv("../data-sources/pv2-data-jan2014.csv")

In [40]:
pv_df2.head()

            date   kwh
0  1/1/2014 0:00   0.0
1  1/1/2014 0:05   0.0
2  1/1/2014 0:10   0.0
3  1/1/2014 0:15   0.0
4  1/1/2014 0:20   0.0

In [41]:
pv_df2['month'] = pv_df2['date'].apply(lambda x: '{:02d}'.format(int(x.split(" ")[0].split("/")[0])))# + x.split(" ")[1].split(":"))
pv_df2['day'] = pv_df2['date'].apply(lambda x: '{:02d}'.format(int(x.split(" ")[0].split("/")[1])))
pv_df2['year'] = pv_df2['date'].apply(lambda x: '{:02d}'.format(int(x.split(" ")[0].split("/")[2])))
pv_df2['hour'] = pv_df2['date'].apply(lambda x: '{:02d}'.format(int(x.split(" ")[1].split(":")[0])))
pv_df2['minutes'] = pv_df2['date'].apply(lambda x: '{:02d}'.format(int(x.split(" ")[1].split(":")[1])))

In [42]:
pv_df2.head()

            date   kwh month day  year hour minutes
0  1/1/2014 0:00   0.0    01  01  2014   00      00
1  1/1/2014 0:05   0.0    01  01  2014   00      05
2  1/1/2014 0:10   0.0    01  01  2014   00      10
3  1/1/2014 0:15   0.0    01  01  2014   00      15
4  1/1/2014 0:20   0.0    01  01  2014   00      20